
/* padding and background for main content*/
.bodies {
	margin: 0 auto;
	width: 50%;
	background: #FFF;
	padding: 15px;
}
/*image scaling*/

body {
	background: #CCC;
}


#main_title {
	font-size: 50px;
}
	
	
a {
	font-size: 25px;
}
.swd-button {
    display: inline-block;
}
